/** Base Styling */
.button-group {
  @apply inline-flex items-center;
}

.button-group .button {
  @apply rounded-none;

  &:first-child {
    @apply rounded-l;
  }

  &:last-child {
    @apply rounded-r;
  }
}
