/** Base Styling */
.button {
  @apply cursor-pointer;

  @apply inline-flex items-center justify-center gap-2 rounded border font-medium text-nowrap;

  @apply w-fit px-4;

  @apply transition-[scale,background-color] motion-reduce:transition-none;

  &[data-focused] {
    @apply status-focused;
  }

  &:active:not(:disabled):not([data-disabled]) {
    @apply scale-95;
  }

  &[data-disabled] {
    @apply status-disabled;
  }

  &[data-pending] {
    @apply status-pending;
  }

  & svg {
    @apply size-5 shrink-0;
  }
}

.button--sm {
  @apply h-8 text-sm;

  & svg {
    @apply size-4;
  }
}

.button--md {
  @apply h-10;
}

.button--lg {
  @apply h-12;
}

.button--xl {
  @apply h-14 text-lg;

  & svg {
    @apply size-6;
  }
}

.button--primary {
  @apply bg-primary text-primary-foreground hover-safe:bg-primary/90;

  & .spinner {
    @apply text-primary-foreground;
  }
}

.button--secondary {
  @apply bg-secondary text-secondary-foreground hover-safe:bg-secondary/80;

  & .spinner {
    @apply text-secondary-foreground;
  }
}

.button--outline {
  @apply bg-background text-foreground hover-safe:bg-secondary;

  & .spinner {
    @apply text-foreground;
  }
}

.button--danger {
  @apply bg-danger text-danger-foreground hover-safe:bg-danger/90;

  & .spinner {
    @apply text-danger-foreground;
  }
}

.button--success {
  @apply bg-success text-success-foreground hover-safe:bg-success/90;

  & .spinner {
    @apply text-success-foreground;
  }
}

.button--ghost {
  @apply text-foreground hover-safe:bg-secondary border-0 bg-transparent;

  & .spinner {
    @apply text-foreground;
  }
}

.button--icon-only {
  @apply size-10;
}

.button--icon-only.button--sm {
  @apply size-8;
}

.button--icon-only.button--lg {
  @apply size-12;
}
