.checkbox {
  @apply border-border size-6 rounded border;
  @apply bg-input text-input-foreground;
  @apply shrink-0 cursor-pointer;
  @apply transition-all motion-reduce:transition-none;

  &[data-checked="true"] {
    @apply bg-primary border-primary;
  }

  &:disabled {
    @apply status-disabled;
  }

  &[data-invalid="true"] {
    @apply border-danger;
  }

  .checkbox__indicator {
    @apply flex h-full items-center justify-center;

    & svg {
      @apply size-4;
    }
  }
}
