.menu__positioner {
  @apply outline-0;
}

.menu__popup {
  @apply rounded p-1;

  @apply w-56;

  @apply bg-overlay text-overlay-foreground border shadow;

  @apply transition-[transform,scale] motion-reduce:transition-none;

  &[data-starting-style],
  &[data-ending-style] {
    @apply scale-90 opacity-0;
  }
}

.menu__arrow {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

  @apply bg-overlay size-2 border;

  &[data-side="top"] {
    @apply -bottom-2 rotate-180;
  }

  &[data-side="right"] {
    @apply -start-2 rotate-90;
  }

  &[data-side="bottom"] {
    @apply -top-2;
  }

  &[data-side="left"] {
    @apply -end-2 -rotate-90;
  }
}

.menu__item,
.menu__submenu__trigger {
  @apply cursor-pointer;

  @apply bg-overlay hover-safe:bg-secondary hover-safe:text-secondary-foreground rounded shadow;

  @apply flex items-center gap-2 px-2 py-1;

  @apply transition-colors motion-reduce:transition-none;
}

.menu__group {
  @apply mt-2 mb-1 px-1;
}

.menu__group-label {
  @apply text-muted-foreground;
}
