.navbar {
  @apply bg-surface text-surface-foreground relative shadow;
}

.navbar__container {
  @apply mx-auto max-w-7xl px-4;

  @apply flex h-(--navbar-height) items-center justify-between;
}

.navbar__content {
  @apply flex flex-1 items-center gap-4;
}

.navbar__toggle {
  @apply cursor-pointer;

  svg {
    @apply text-muted-foreground size-5;

    @apply transition-colors motion-reduce:transition-none;

    &:hover {
      @apply text-foreground;
    }
  }
}
