@import "tailwindcss";

@import "./components/index.css" layer(components);
@import "./theme.css" layer(theme);

@utility status-focused {
  @apply focus:ring-ring focus:ring-offset-background focus:ring-2 focus:ring-offset-2 focus:outline-none;
}

@utility status-disabled {
  @apply cursor-not-allowed opacity-50;
}

@utility status-pending {
  @apply cursor-wait opacity-75;
}

@custom-variant hover-safe {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @slot;
    }

    &:hover::before,
    &:hover::after {
      @slot;
    }
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground relative;
  }

  .root {
    @apply isolate antialiased;
  }
}
